html, body{
    background-color:  #323641;
}

main.container {
    margin-top: 80px;
    padding-bottom: 30px;
    background-color: #323641;
    color: white;
}




 #topCards .card, #avgCard .card .card{
    padding: 20px 20px;
    background-color:#56575b;
}
 #avgCard {
     padding: 20px 20px;
 }
 #avgCard .card{
     background-color: #323641;
 }
 .card h4{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4px;
}
.card  p{
    text-align: center;
    margin:0px;
    font-size: 20px;
}

#list-tab{
    background:  #323641;
}

#list-tab .active{
    background: darkcyan !important;
}
#list-tab .list-group-item{
    background-color: #56575b;
    color: white;
    padding:5px 15px 5px 20px;
    font-size: 18px;
}
.col-4, .col-md-4{
    padding:20px;
}
#list-tab{
    height: 152.2px;
}

