<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Temps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/tempStart.css" />
</head>
<body>
<h1 th:text="'Hello ' + ${t}"></h1>
<h2 th:text="${lastTemp.id}+' '+ ${lastTemp.date}"></h2>
<ul>
    <li th:each="temp:${temps}" th:text="${temp.date}+ ${temp.humidity}"></li>

</ul>
</body>
</html>